header#header {
    font-size: 60px;
    padding: 20px 0;
}
header#header h1 a {
    color: #000;
    font-weight: bold;
}

nav#nav {
    padding: 10px;
    text-align: right;
}
nav#nav ul li {
    display: inline-block;
    margin-left: 10px;
}

div#board {
    text-align: center;
}
div#board ul li {
    display: inline-block;
    margin: 10px;
}

div#board div.thumbImg img {
    height: 180px;
}

div#board div.title {
    padding: 10px 0;
    text-align: center;
}

#paging .pagination {
    display: inline-block;
    float: center;
}

.option .nice-select {
    clear: inherit;
    float: inherit;
    display: inline;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}
